* {
  margin: 0;
  padding: 0;
}

div {
  background-color: white;
  /*border: 0.5px dashed black;*/
  box-sizing: border-box;
}

body {
  font-family:'Microsoft YaHei';
  background-color: lightgray;
  box-sizing: border-box;
}

body #main {
  width: 980px;
  height: 1388px;
  box-sizing: border-box;
  margin-left: calc((100% - 980px)/2);
}

.section {
  margin-left: calc((100% - 892px)/2);
  margin-right: calc((100% - 892px)/2);
}

.header {
  height: 64px;
}
.section1 {
  height: 302px;
  position: relative;
}

.section2 {
  box-sizing: border-box;
  padding-top: 10px;
  height: 250px;
}
.section3 {
  height: calc(1386px - 336px - 250px - 128px);
}
.footer {
  height: 64px;
}

.weburl2 {
  float: right;
  color: #d45d5c;
  font-size: 12px;
}

.date {
  float: right;
  color: #d45d5c;
  margin-top: 44px;
  font-size: 12px;
}

.logo {
  width: 110px;
  height: 64px;
  background-color: #d45d5c;
  position: relative;
}
.weburl {
  font-size: 12px;
  color: white;
  position: absolute;
  left: 3px;
  bottom: 3px;
  font-family: SimHei;
}
.hr {
  height: 2px;
  width: 100%;
  border: none;
}
.hrBlackColor {
  background-color: #938e8c;
}
.hrRedColor {
  background-color: #cc8091;
}
.hrBlueColor {
  background-color: #11456b;
  margin-top: 13px;
}

.about {
  background-color: green;
  width: 100%;
  height: 301px;
  margin-top: 35px;
}
.showFont {
  float: right;
  width: calc(100% - 641px);
  height: 301px;
  box-sizing: border-box;
  padding-left: 45px;
}

.showFont .line1 {
  text-transform: uppercase;
  font-family: "Microsoft YaHei";
  font-size: 16px;
  color: #000000;
  border-bottom: 2px solid black;
  display: inline;
}
.showFont .firstLetter {
  font-size: 24px;
}

.showFont .line1 {
  text-transform: uppercase;
  font-family: 'Microsoft YaHei';
  font-size: 16px;
  color: #000000;
  border-bottom: 2px solid black;
  display: inline;
}

.showFont #line2 {
  font-size: 12px;
  font-style: italic;
  color: #676767;
  font-family: KaiTi;
  line-height: 0.9em;
  margin-top: 4px;
}
.showFont #line2:first-letter {
  text-transform: uppercase;
}

.showFont #line3 {
  font-size: 116px;
  font-style: italic;
  font-family: 'Microsoft YaHei';
  color: #75b86b;
  margin-left: -20px;
  box-sizing: border-box;
  margin-top: 5px;
  height: 143px;
}

.showFont #line4 {
  font-size: 55px;
  font-family: 'Microsoft YaHei';
  color: #cc8091;
  display: inline;
}
.showFont #csscss {
  display: inline-block;
}

.showFont #line5 {
  font-size: 14px;
  font-family: 'Microsoft YaHei';
  color: #cc8091;
  line-height: 0.9em;
}

.showFont #line6 {
  font-size: 11px;
  font-family: 'Microsoft YaHei';
  color: lightgray;
  line-height: 1em;
}

#aboutImg {
  width: 641px;
  height: 301px;
  box-sizing: border-box;
  position: absolute;
}

#aboutImg #rightMask {
  width: 191px;
  height: 301px;
  background-color: rgba(0, 255, 0, 0.2);
  position: absolute;
}

#aboutImg #leftMask {
  width: 191px;
  height: 301px;
  background-color: rgba(255, 0, 0, 0.2);
  position: absolute;
  top: 0;
  right: 0;
}


#aboutImg img {
  width: 100%;
  height: 100%;
}

.textBox1 {
  width: 240px;
  height: 210px;
  font-size: 12px;
  display: inline-block;
  margin-top: 30px;
  vertical-align: top;
}
.textBox2 {
  width: 200px;
  height: 210px;
  font-size: 12px;
  display: inline-block;
  margin-top: 30px;
  margin-left: 20px;
  vertical-align: top;
}
.textBox3 {
  width: 180px;
  height: 210px;
  font-size: 12px;
  display: inline-block;
  margin-top: 30px;
  margin-left: 20px;
  vertical-align: top;
}
.textBox1 p, .textBox2 p {
  margin-top: 4px;
}

.textBox3 p {
  line-height: 1.8em;
}

.title {
  text-decoration: underline;
  text-transform: capitalize;
  font-size: 16px;
}

.title1 {
  color: green;
}
.title2 {
  color: #d2994f;
}
.title3 {
  color: #cc7680;
}

.what_zone {
  margin-left: 5px;
  margin-top: 20px;
}
.percentage {
  font-style: italic;
  color: #cc7680;
}


.column2 {
  float: right;
  width: 476px;
  height: 100%;
  box-sizing: border-box;
  padding-left: 16px;
}


.column1 {
  height: 100%;
  /*margin-left: 420px;*/
}

.front-end {
  width: 100%;
  height: 198px;
}
.front-end-first-letter {
  font-size: 64px;
  font-style: italic;
  text-transform: uppercase;
  color: #f5e327;
}
.front-end-left-letters {
  font-size: 38px;
  text-transform: uppercase;
  font-weight: bold;
  color: #11456b;
}
.front-end-chinese {
  font-size: 33px;
  font-weight: bold;
  color: #11456b;
}

.ife-zone {
  width: 100%;
  height: calc(100% - 198px);
  box-sizing: border-box;
  padding: 5px;
  margin-top: 15px;
}

.ife-zone p{
  font-size: 12px;
}

.ife-zone p .firstChart {
  float: left;
  color: #f5e327;
  font-size: 75px;
  line-height: 60px;
  padding-top: 10px;
  padding-right: 6px;
  font-family: Georgia;

}

.ifeImg {
  float: right;
  width: 150px;
  height: 280px;
  display: inline-block;
  line-height: 280px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 10px;
}

.cardImgDiv {
  width: 100%;
  height: 275px;
  position: relative;
}
.column2 img {
  width: 100%;
  height: 100%;
}

.imgMask {
  width: 100%;
  height: 64px;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  /*margin-top: calc( 100% - 100px);*/
  /*bottom: 0;*/
  bottom:0px;
  right:0px;
}

.column_line {
  position: absolute;
  left: 40px;
  bottom: 8px;
  width: 3px;
  height: calc(64px - 16px);
  background-color: #75b86b;
}

.maskfont1 {
  position: absolute;
  left : 56px;
  top: 14px;
  color: white;
  font-size: 25px;
}
.maskfont2 {
  position: absolute;
  left : 165px;
  top: 26px;
  color: #75b86b;
  font-size: 14px;
  font-style: italic;
}


.card {
  margin-top: 30px;
  width: 459px;
  height: 328px;
  background-color: rgb(238, 237, 214);
  position: relative;
}

.card .row {
  position: absolute;
  left: 30px;
  width: 400px;
  height: 24px;
  font-size: 15px;
  background-color: transparent;
}
.card .row1 {
  top: 26px;
}
.card .row2 {
  top: calc(26px + 42px);
}
.card .row3 {
  top: calc(26px + 84px);
}

.trangle_text {
  display: inline-block;
}
.trangle_tail_text {
  font-size: 9px;
  font-style: italic;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #10456b;
    display: inline-block;
    background-color: transparent;
}

.last_row {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 170px;
  background-color: transparent;
}

.redblock {
  float: left;
  width: 55%;
  height: 100%;
  background-color: #d45d5c;
  position: relative;
}

.redblock_zero {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 60px;
  height: calc(100% - 2 * 10px);
  color: white;
  font-size: 108px;
  background-color: transparent;
  text-align: center;
}
.redblocK_seprator {
  position: absolute;
  left: 76px;
  top: 40px;
  width: 2px;
  height: calc(100% - 2 * 40px);
  background-color: white;
}
.redblock_detail {
  position: absolute;
  right: 0;
  top: 45px;
  height: calc(100% - 2 * 45px);
  width: 162px;
  background-color: transparent;
}

.redblock_text {
  background-color: transparent;
  margin-top: 20px;
  margin-left: calc( 100% - 184px );
  position: relative;
}

.detail_line1 {
  color: white;
  text-transform: uppercase;
  font-size: 17px;
  font-style: italic;
}

.detail_line2 {
  color: white;
  font-size: 11px;
}
.mark {
  font: 72px "黑体";
  color: #d45d5c;
}
.mark_begin {
  float: left;
  margin: -11px 10px 0 -45px;
  height: 30px;
}

.mark_end {
  position: absolute;
  right: -16px;
  bottom: -56px;
}


.helloworld {
  font-style: italic;
  font-size: 14px;
}
