* {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.box {
  background-color: white;
  border: 1px solid gray;
}

#main {
  box-sizing: border-box;
  background-color: lightgray;
  margin: 16px;
  overflow: scroll;
  clear: both;

}

#left {
  box-sizing: border-box;
  width: 200px;
  height: 116px;
  float: left;
  position: absolute;
  padding: 10px;
}

#right {
  box-sizing: border-box;
  width: 120px;
  float: right;
}

#mid {
  box-sizing: border-box;
  margin-left: 200px;
  margin-right: 120px;
  padding: 10px;
}

#left img {
  width: 80px;
  height: 80px;
  border: 1px solid gray;
  position: absolute;
  top: 50%;
  margin-top: -40px;
}

#right img {
  width: 80px;
  height: 80px;
  border: 1px solid gray;
  margin-left: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#left #intro {
  position: absolute;
  top: 50%;
  margin-top: -40px;
  margin-left: 80px;
  padding-left: 10px;
  padding-right: 10px;
  max-height: 80px;
  overflow: scroll;
}
